:root {
  --text-color:#212f3d;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  font-size: 20px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#whole_page {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.content {
  position: relative;
  margin-top: 3rem;
  width: 50%;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

.profile-badge {
  user-select: none;
  display: flex;
  margin-bottom: 1.5rem;
}

.avater {
  margin-right: 2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  /* border: 4px solid rgba(0, 0, 0, 1); */
  position: relative;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.avater img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  object-fit: cover;
  cursor: pointer;
}

.pi-name {
  font-weight: 600;
  font-size: 24px;
}

.pi-bio {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
}

.pi-role {
  margin-top: 1rem;
  font-size: 12px;
  display: inline-block;
  background-color: var(--text-color);
  color: #fff;
  user-select: none;
  padding: 0.35rem 1rem;
  border-radius: 1rem;
}

.emoji-badge {
  background-color: var(--text-color);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  border: 0.5px solid var(--text-color);
}

.bubble {
  position: relative;
  background: #eaecee;
  color: #FFFFFF;
  width: 100%;
  height: 150px;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  user-select: none;
  padding: 1rem;
  font-size: 16px;
  color: var(--text-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1.5rem;
}
.bubble:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #eaecee transparent;
  border-width: 0 16px 26px;
  top: -24px;
  left: 8%;
  margin-left: -16px;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.social-medias a{
  text-decoration: none;
  color: var(--text-color);
  margin: 0 0.35rem;
}

.social-medias  i {
  font-size: 24px;
}


.cv a {
  color: var(--text-color);
  font-size: 16px;
}

.projects-btn, .up-btn {
  color: var(--text-color);
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 18px;
  background-color: transparent;
}

.projects-btn i, .up-btn i{
  font-size: 18px;
}

.up-btn {
  top: 5%;
}

.work-experiences {
  padding: 0.5rem;
  margin-top: 20%;
}

.we-title {
  font-size: 20px;
  font-weight: 600;
  user-select: none;
}

.work-card {
  user-select: none;
  padding: 1rem;
  margin: 1.5rem 0;
  display: flex;
  justify-items: center;
  background-color: #f8f9f9;
  border-radius: 0.35rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.year {
  width: 100%;
  margin-top: 0.2rem;
  margin-right: 5rem;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
}

.job {
  width: 100%;
  background-color: transparent;
}

.company, .company a i {
  background-color: transparent;
}

.company a {
  font-size: 16px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.location {
  font-size: 12px;
  opacity: 0.8;
  background-color: transparent;
  color: var(--text-color);
}

.role {
  margin-top: 0.5rem;
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
  color: #2874a6;
}